{% extends "base.htm.j2" %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datetimepicker.css') }}">
{% endblock %}

{% block content %}

<h1>Assignments for {{ course.name }}</h1>

<form id="assignments_form" class="container" action="{{ url_for('update_assignments', course_id=course.id) }}" method="post">
	{% for assignment in assignments %}
	<div class="row {{ loop.cycle('odd', '') }}">
		{% if assignment.quiz_id is defined %}
			<input id="{{ assignment.id }}-assignment_type" name="{{ assignment.id }}-assignment_type" type="hidden" value="quiz">
			<input id="{{ assignment.id }}-quiz_id" name="{{ assignment.id }}-quiz_id" type="hidden" value="{{ assignment.quiz_id }}">
		{% else %}
			<input id="{{ assignment.id }}-assignment_type" name="{{ assignment.id }}-assignment_type" type="hidden" value="assignment">
		{% endif %}
		<div class="col-xs-12 col-sm-6 col-md-3">
			<p><strong>{{ assignment.name }} ({{ assignment.id }})</strong></p>
			{% if assignment.quiz_id is defined %}
				<p>Quiz</p>
			{% else %}
				<p>Assignment</p>
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<label for="{{ assignment.id }}-due_at">Due At:</label>
			<div class='input-group date picker picker-due'>
				<input id="{{ assignment.id }}-due_at" name="{{ assignment.id }}-due_at" type="text" class="form-control" title="Date and Time at which the assignment is due."
				{% if assignment.due_at_date %}
					value="{{ assignment.due_at_date | datetime_localize }}"
				{% endif %}
				>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<label for="{{ assignment.id }}-published">Published:</label><br />
			<input id="{{ assignment.id }}-published" name="{{ assignment.id }}-published" type="checkbox" class="form-check"

			{% if assignment.published %}
				checked
			{% endif %}

			{% if not assignment.unpublishable %}
				disabled
				title="This assignment has submissions and cannot be unpublished."
			{% else %}
				title="Toggle whether or not an assignment is published."
			{% endif %}
			>

			{% if not assignment.unpublishable %}
				<!-- Hidden input when checkbox is disabled -->
				<input name="{{ assignment.id }}-published" type="hidden" value="on">
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 picker-group">
			<label for="{{ assignment.id }}-unlock_at">Available From:</label>
			<div class='input-group date picker'>
				<input id="{{ assignment.id }}-unlock_at" name="{{ assignment.id }}-unlock_at" type="text" class="form-control" title="Date and Time at which the assignment is unlocked."
				{% if assignment.unlock_at_date %}
					value="{{ assignment.unlock_at_date | datetime_localize }}"
				{% endif %}
				>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<label for="{{ assignment.id }}-lock_at">Available Until:</label>
			<div class='input-group date picker'>
				<input id="{{ assignment.id }}-lock_at" name="{{ assignment.id }}-lock_at" type="text" class="form-control" title="Date and Time at which the assignment is locked."
				{% if assignment.lock_at_date %}
					value="{{ assignment.lock_at_date | datetime_localize }}"
				{% endif %}
				>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 picker-group">
			{% if assignment.quiz_id is defined %}
			<label for="{{ assignment.id }}-show_correct_answers_at">Show Answers:</label>
			<div class='input-group date picker'>
				<input id="{{ assignment.id }}-show_correct_answers_at" name="{{ assignment.id }}-show_correct_answers_at" type="text" class="form-control" value="{{ assignment.show_correct_answers_at_date }}" title="Date and Time at which the quiz's correct answers become available for students to view.">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<label for="{{ assignment.id }}-hide_correct_answers_at">Hide Answers:</label>
			<div class='input-group date picker'>
				<input id="{{ assignment.id }}-hide_correct_answers_at" name="{{ assignment.id }}-hide_correct_answers_at" type="text" class="form-control" value="{{ assignment.hide_correct_answers_at_date }}" title="Date and Time at which the quiz's correct answers become hidden from students.">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<input class="btn btn-success" type="submit">
</form>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button id="close_x" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="statusModalLabel">Updating Assignments</h4>
	  </div>
	  <div id="status_content" class="modal-body"></div>
	  <div class="modal-footer">
		<button id="close_button" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>

{% endblock %}

{% block custom_js %}
	<script type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datetimepicker.js') }}"></script>
	<script type="text/javascript">
		// Due date datetime picker
		$('.picker-due').datetimepicker();

		// Linked pickers
		$('.picker-group').each(function() {
			children = $(this).children('.picker')
			var start = children[0];
			var end = children[1];

			$(start).datetimepicker();
			$(end).datetimepicker({useCurrent: false});
			$(start).on("dp.change", function(e) {
				$(end).data("DateTimePicker").minDate(e.date);
			});
			$(end).on("dp.change", function(e) {
				$(start).data("DateTimePicker").maxDate(e.date);
			});
		});

		// Initialize status modal
		$('#statusModal').modal({
			backdrop: 'static',
			show: false
		});

		// Disable enter key submitting form
		$(document).on("keypress", "form", function(event) {
			return event.keyCode != 13;
		});

		// AJAX submit updates
		$('#assignments_form').on('submit', function(e) {
			e.preventDefault();

			$('#statusModal').modal('show');
			$('#close_button').prop('disabled', true);
			$('#close_x').hide();
			$('#statusModal .modal-body').text('Processing... (This may take a few minutes)')

			var post_url = $(this).attr('action');

			// TODO: only update assignments that are altered.

			$.post(post_url, $(this).serialize(), function(data) {

				var new_text = "<p>" + data.message + "</p>"
				if (data.updated.length > 0) {
					new_text += "<table class='table'><thead><tr><th scope='col'>ID</th><th scope='col'>Title</th><th scope='col'>Type</th></tr></thead><tbody>"
					for (x in data.updated) {
						new_text += "<tr><td>" + data.updated[x].id + "</td><td>" + data.updated[x].title + "</td><td>" + data.updated[x].type + "</td></tr>";
					}
					new_text += "</tbody></table>"
				}

				$('#status_content').html(new_text);

				$('#close_button').prop('disabled', false);
				$('#close_x').show();
			});
		});

	</script>
{% endblock %}
