{% extends "base.htm.j2" %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datetimepicker.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-toggle.min.css') }}">
{% endblock %}

{% block content %}

<h1>Due Date Changer</h1>

<div id="test_box" class="container">

	<div id="top_buttons" class="text-right">
		<button type="button" id="expand_all_btn" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Expand All</button>
		<button type="button" id="collapse_all_btn" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-minus"></span> Collapse All</button>
	</div>

	<form id="assignments_form" action="{{ url_for('update_assignments', course_id=course.id) }}" method="post">

	{% for assignment in assignments %}
	<div class="row {{ loop.cycle('odd', '') }}" data-assignment-id="{{ assignment.id }}">
		{% if assignment is quiz %}
			<input id="{{ assignment.id }}-assignment_type" name="{{ assignment.id }}-assignment_type" type="hidden" value="quiz">
			<input id="{{ assignment.id }}-quiz_id" name="{{ assignment.id }}-quiz_id" type="hidden" value="{{ assignment.quiz_id }}">
		{% else %}
			<input id="{{ assignment.id }}-assignment_type" name="{{ assignment.id }}-assignment_type" type="hidden" value="assignment">
		{% endif %}
		<div class="col-xs-12 col-sm-6 col-md-3">
			<p><strong><a href="{{ config.CANVAS_URL }}/courses/{{ course.id }}/assignments/{{ assignment.id }}" target="_blank">{{ assignment.name }} ({{ assignment.id }})</a></strong></p>
			{% if assignment is quiz %}
				<p>Quiz</p>
			{% elif assignment is discussion %}
				<p>Discussion</p>
			{% else %}
				<p>Assignment</p>
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<label for="{{ assignment.id }}-due_at">Due At:</label>
			<div class='input-group date picker picker-due'>
				<input id="{{ assignment.id }}-due_at" name="{{ assignment.id }}-due_at" type="text" class="form-control input-sm" title="Date and Time at which the assignment is due."
				{% if assignment.due_at_date %}
					value="{{ assignment.due_at_date | datetime_localize }}"
				{% endif %}
				>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-1">
			<label for="{{ assignment.id }}-published">Published:</label><br />
			<input id="{{ assignment.id }}-published" name="{{ assignment.id }}-published" type="checkbox" class="form-check" data-toggle="toggle" data-on="<span class='glyphicon glyphicon-ok'></span>" data-off="<span class='glyphicon glyphicon-remove'></span>" data-offstyle="danger" data-onstyle="success" data-size="small"
			{% if assignment.published %}
				checked
			{% endif %}

			{% if not assignment.unpublishable %}
				disabled
				title="This assignment has submissions and cannot be unpublished."
			{% else %}
				title="Toggle whether or not an assignment is published."
			{% endif %}
			>

			{% if not assignment.unpublishable %}
				<!-- Hidden input when checkbox is disabled -->
				<input name="{{ assignment.id }}-published" type="hidden" value="on">
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-3">
			<label>Other Options:</label>
			<button class="btn btn-primary btn-sm more-button" type="button" data-toggle="collapse" data-target="[data-assignment-id={{ assignment.id }}] .collapse" aria-expanded="false" aria-controls="collapse">More <span class="caret"></span></button>
		</div>
		<span class="clearfix"></span>
		<div class="collapse">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<label for="{{ assignment.id }}-unlock_at">Available At:</label>
				<div class='input-group date picker unlock-at'>
					<input id="{{ assignment.id }}-unlock_at" name="{{ assignment.id }}-unlock_at" type="text" class="form-control input-sm" title="Date and Time at which the assignment is unlocked."
					{% if assignment.unlock_at_date %}
						value="{{ assignment.unlock_at_date | datetime_localize }}"
					{% endif %}
					>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<label for="{{ assignment.id }}-lock_at">Available Until:</label>
				<div class='input-group date picker lock-at'>
					<input id="{{ assignment.id }}-lock_at" name="{{ assignment.id }}-lock_at" type="text" class="form-control input-sm" title="Date and Time at which the assignment is locked."
					{% if assignment.lock_at_date %}
							value="{{ assignment.lock_at_date | datetime_localize }}"
					{% endif %}
					>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>

			{% if assignment is quiz %}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<label for="{{ assignment.id }}-show_correct_answers_at">Show Answers:</label>
				<div class='input-group date picker show-at'>
					<input id="{{ assignment.id }}-show_correct_answers_at" name="{{ assignment.id }}-show_correct_answers_at" type="text" class="form-control input-sm" value="{{ assignment.show_correct_answers_at_date }}" title="Date and Time at which the quiz's correct answers become available for students to view.">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<label for="{{ assignment.id }}-hide_correct_answers_at">Hide Answers:</label>
				<div class='input-group date picker hide-at'>
					<input id="{{ assignment.id }}-hide_correct_answers_at" name="{{ assignment.id }}-hide_correct_answers_at" type="text" class="form-control input-sm" value="{{ assignment.hide_correct_answers_at_date }}" title="Date and Time at which the quiz's correct answers become hidden from students.">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			{% endif %}
		</div><!-- /collapse -->
	</div>
	{% else %}
	<div class="row odd">
	<p class="text-center">No Assignments Found</p>
	</div>
	{% endfor %}
	<input class="btn btn-success" type="submit" value="Submit">
	</form>
</div><!-- /test_box -->

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<button id="close_x" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="statusModalLabel">Updating Assignments</h4>
			</div>
			<div id="status_content" class="modal-body text-center">
				<p class="status-perc">0%</p>
				<div class="progress">
					<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
						<span class="sr-only">0% Complete</span>
					</div>
				</div>
				<p class="status-msg">Not Started</p>
			</div>
			<div class="modal-footer">
				<button id="close_button" type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block custom_js %}
	<script type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datetimepicker.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-toggle.min.js') }}"></script>
	<script type="text/javascript">
		var update_interval_id = null;

		// Due date datetime picker
		$('.picker-due').datetimepicker({useCurrent: false});

		// toggle all "more" buttons
		$('#collapse_all_btn').on('click', function() {
			$('.collapse').collapse('hide');
		});
		$('#expand_all_btn').on('click', function() {
			$('.collapse').collapse('show');
		});

		// toggle "more" button
		$('.collapse').on('shown.bs.collapse', function() {
			var more_button = $(this).closest('.row').find('.more-button');
			$(more_button).html('More <span class="dropup"><span class="caret"></span></span>')
		});
		$('.collapse').on('hidden.bs.collapse', function() {
			var more_button = $(this).closest('.row').find('.more-button');
			$(more_button).html('More <span class="caret"></span>')
		});


		// Link pickers
		$('.row').each(function() {
			// link available at - available until
			var unlock_at = $(this).find('.picker.unlock-at');
			var lock_at = $(this).find('.picker.lock-at')
			link_pickers(unlock_at, lock_at)

			// link show answers - hide answers
			var show_at = $(this).find('.picker.show-at');
			var hide_at = $(this).find('.picker.hide-at')
			link_pickers(show_at, hide_at)
		});

		function link_pickers(start, end) {
			$(start).datetimepicker({useCurrent: false});
			$(end).datetimepicker({useCurrent: false});

			$(start).on("dp.change", function(e) {
				$(end).data("DateTimePicker").minDate(e.date);
			});
			$(end).on("dp.change", function(e) {
				$(start).data("DateTimePicker").maxDate(e.date);
			});
		}

		// Initialize status modal
		$('#statusModal').modal({
			backdrop: 'static',
			show: false
		});

		// Disable enter key submitting form
		$(document).on("keypress", "form", function(event) {
			return event.keyCode != 13;
		});

		// Reload page after closing window
		// potential issues with failed requests
		$('#close_button').on('click', function(e) {
			location.reload()
		});

		// AJAX submit updates
		$('#assignments_form').on('submit', function(e) {
			e.preventDefault();

			$('#statusModal').modal('show');
			$('#close_button').prop('disabled', true);
			$('#close_x').hide();

			// TODO: only update assignments that are altered.

			var post_url = $(this).attr('action');

			$.ajax({
				type: "POST",
				url: post_url,
				data: $(this).serialize()
			})	
			.done(function(data) {
				update_interval_id = setInterval(checkUpdate, 1000, data.update_assignments_job_url);
			});

		})

		function checkUpdate(job_url) {
			$.ajax({
				type: "GET",
				url: job_url
			})
			.done(function(data) {

				// If there is no data yet, skip
				if ($.isEmptyObject(data)) {
					return;
				}

				var percent = data["percent"];
				var update_div = $('#status_content')
				var prog_bar = update_div.find('.progress-bar');

				update_div.find(".status-perc").html(percent.toString() + "%");
				prog_bar.attr('aria-valuenow', percent);
				prog_bar.attr('style', 'width: ' + percent.toString() + "%;");
				prog_bar.find("span").text(percent.toString() + "% Complete");
				update_div.find('.status-msg').html(data['status_msg']);

				if (data["status"] == "failed") {
					prog_bar.addClass("progress-bar-danger");
					prog_bar.removeClass("progress-bar-info");
					clearInterval(update_interval_id);
					update_div.find(".status-msg").attr("style", "color: #f00;");
				}
				else if (data["status"] == "complete") {
					prog_bar.addClass("progress-bar-success");
					prog_bar.removeClass("progress-bar-info");
					clearInterval(update_interval_id);
					update_div.find(".status-msg").attr("style", "color: #000;");
				}
				$('#close_button').prop('disabled', false);

			})
			.fail(function(data) {
				var prog_bar = update_div.find('.progress-bar');

				prog_bar.addClass("progress-bar-danger");
				prog_bar.removeClass("progress-bar-info");

				clearInterval(update_interval_id);

				refresh_div.find(".status-msg").html("<span style=\"color: #f00;\">Failed</span>");
			});
		}

	</script>
{% endblock %}
