<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<meta charset='utf-8'/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title>Course Roster</title>
		{% block custom_css %}{% endblock %}
		<style>
			.wrapper {
				margin: .5em;
			}

			img { height: 150px;}

			/* Smartphones ----------- */
			@media only screen and (max-width: 760px) {
			  #canary { display: block; }
			}

		</style>

	</head>

<body class="default">
<div class="wrapper">
	{% block content %} {% endblock %}
	<footer>University of Central Florida | Center for Distributed Learning | &copy; 2014 &ndash; <script>document.write(new Date().getFullYear())</script></footer>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(document).ready(function() {

    // resize containing iframe height
    function resizeFrame(){
        console.log("resizing frame...");
        var default_height = $('body').height() + 50;
        default_height = default_height > 500 ? default_height : 500;

        // IE 8 & 9 only support string data, so send objects as string
        parent.postMessage(JSON.stringify({
          subject: "lti.frameResize",
          height: default_height
        }), "*");
    }

    // update iframe height on resize
    $(window).on('resize', function(){
        resizeFrame();
    });

    resizeFrame();

});


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block custom_js %}{% endblock %}
</body>
</html>